<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link type="text/css" rel="stylesheet" href="/styles/globals.css" />
        <link type="text/css" rel="stylesheet" href="/styles/home.css" />
        <title>WeeUrl</title>
    </head>
    <body>
        <div class="root">
            <main class="hero">
                <h1>Welcome to WeeUrl</h1>
                <form action="">
                    <label for=""></label>
                    <input type="text" id="fullUrl" name="fullUrl" placeholder="Enter your website's url" />
                    <button type="submit">Shorten URL</button>
                </form>
            </main>
            <section class="short_urls">
                <h1>More Examples</h1>
                <div class="url_container__desktop">
                    <div class="urls">
                        <p>Sl. No.</p>
                        <p class="span">Full Url</p>
                        <p>Short Url</p>
                        <p>Clicks</p>
                    </div>
                    <div class="urls">
                        <p>1.</p>
                        <p class="span">https://linkedin.com/in/angkush-sahu/2341283457123</p>
                        <p>https://weeurl.vercel.app/82347231</p>
                        <p>1000</p>
                    </div>
                </div>
                <div class="url_container__small__devices">
                    <div class="urls">
                        <div>
                            <p>Sl. No.</p>
                            <p>1.</p>
                        </div>
                        <div>
                            <p class="span">Full Url</p>
                            <p class="span">https://linkedin.com/in/angkushsahu/2341283457123</p>
                        </div>
                        <div>
                            <p>Short Url</p>
                            <p>https://weeurl.vercel.app/82347231</p>
                        </div>
                        <div>
                            <p>Clicks</p>
                            <p>1000</p>
                        </div>
                    </div>
                </div>
            </section>
            <footer>
                <h1>WeeUrl</h1>
            </footer>
        </div>
    </body>
</html>
